<%-include('partials/header') %>
<%-include('partials/navbar') %>



<div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center text-decoration-underline mt-4" style="background-color: #1693ec; color:white;">Lista de Publicaciones</h1>
            </div>
        </div>
        <div class="row col mt-1 mb-4">
            <main class="d-flex flex-column gap-2 " id="lista-publicaciones">



            </main>


        </div>
    </div>


    <style>
        body{
            background-image: url("https://images.ecestaticos.com/9qUIrpF1WwO9CBu5iWvaR8UmEek=/0x0:2121x1414/557x418/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd9e%2F66d%2F793%2Fd9e66d793adbc994841e60850a17e61c.jpg");
        }
    </style> 

        <script src="/js/home.js"></script>
<%-include('partials/footer') %>